<h1>New Director</h1>
<p><%= link_to 'Home', root_path %></p>
<%= form_with model: @director1 do |f| %>
<%= f.label :name, 'Name:' %>
<%= f.text_field :name %>
<br>
<%= f.label :genre.name, 'Genre:' %>
<%= f.collection_select :genre.name, Genre.all, :id, :name%>
<br>
<%= f.label :nationality, 'Nationality:' %>
<%= f.text_field :nationality %>
<br>
<%= f.label :birty_date, 'Birty Date:' %>
<%= f.text_area :birty_date %>
<br>
<%= f.submit 'Save'%>
<%end%>
